*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: url(./home/background-home-desktop.jpg);
    background-size: cover;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

header{
    display: flex;
    /* background-color: #222831; */
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a {
    color: #eee;
}

.logo img{
    width: 90px;
    height: 80px;
    margin-right: 10px;
}
.header_logo{
    color: #eeee;
    font-weight: 600;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_item{
    margin: 0 8px;
}
.nav_link{
    padding: 10px;
    color: #eee;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
}
.nav_link:hover{
    background-color: #00adb5;
}
.header_toggle,
.header_close{
    display: none;
}

.heading h1{
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    letter-spacing: 15px;
    color: #eee;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4
    }
}

@media screen and (max-width: 768px) {
    header{
        height: 50px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a{
        font-size: 1rem;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }
    .header_toggle{
        display: inline;
        color: #eee;
        font-size: 24px;
    }
    .header_close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .header_close:hover{
        background-color: #00adb5;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #222831;
        color: #eee;
        width: 40%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav_list{
        display: flex;
        flex-direction: column;
    }
    .nav_item{
        margin: 2rem 0;
    }
    .show{
        right: 0;
    }



}